:root {
  --color-black: #161616;
  --color-white: #fff;
  --color-yellow: #d4fb04;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
