.main {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
}

.main::-webkit-scrollbar {
    width: 8px;
}

.main::-webkit-scrollbar-track {
    background: transparent; /* цвет дорожки */
}

.main::-webkit-scrollbar-thumb {
    background-color: var(--color-black);
    border-radius: 10px;
}
